body{
    background-color: rgb(54, 51, 51);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.link-color{
    color: aquamarine;
}

h2{
    text-align: center;
}

.right{
    text-align: center;
}

.right{
    text-align: right;
}
.position{
    position: relative;
    right: -1050px;
}